/* memo.css */
#memo-box {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 10px 14px;
  height: auto; /* Adjust height dynamically */
  min-height: 113px;
  padding: 16px;
  box-sizing: border-box;
  z-index: 999998;
}

#memo-box textarea.capsule-input-textarea {
  background: rgba(246, 246, 246, 1);
  border-radius: 8px;
  width: 100%;
  height: 60px; /* Give it a default height */
  font-family: sans-serif;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  padding: 0;
  outline: none;
  margin-top: 10px;
}
#memo-box textarea.capsule-input-textarea:focus {
  outline: none;
}

.capsule-container { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px; 
}
.memo-capsule {
  display: flex; align-items: center; justify-content: space-between;
  padding: 0 8px 0 16px; border-radius: 24px;
  font-size: 16px; height: 40px; box-sizing: border-box; cursor: pointer;
  overflow: hidden; width: 167px;
}

.memo-capsule[data-highlight-color="#f247ed"] {
  background-color: rgba(255, 224, 247, 1);
  border: 1px solid rgba(242, 71, 237, 1);
  color: rgba(242, 71, 237, 1);
}
.memo-capsule[data-highlight-color="yellow"] {
  background-color: rgba(254, 248, 205, 1);
  border: 1px solid rgba(222, 146, 16, 1);
  color: rgba(222, 146, 16, 1);
}
.memo-capsule[data-highlight-color="#87ceeb"] {
  background-color: rgba(219, 243, 255, 1);
  border: 1px solid rgba(21, 172, 229, 1);
  color: rgba(21, 172, 229, 1);
}

/* Clicked state */
.memo-capsule.clicked[data-highlight-color="#f247ed"] { background-color: rgba(242, 71, 237, 1); color: #fff; }
.memo-capsule.clicked[data-highlight-color="yellow"]  { background-color: rgba(222, 146, 16, 1);  color: #fff; }
.memo-capsule.clicked[data-highlight-color="#87ceeb"] { background-color: rgba(21, 172, 229, 1);  color: #fff; }

.memo-capsule.clicked .capsule-delete-btn svg path { stroke: #fff; }

.capsule-text { flex-grow: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-right: 4px; }
.capsule-delete-btn { background: none; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; width: 32px; height: 32px; }
