/* tooltip.css */
#taptap-tooltip {
  position: absolute;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  display: block;
  gap: 5px; 
  z-index: 999999;
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.2));
}

.tooltip-container {
  padding: 4px;
  background: white;
  border-radius: 30px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.color-button {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  transition: border-color 0.2s ease-in-out;
}

.color-button[data-color='#F247ED'] { background-color: #FFE0F7; }
.color-button[data-color='yellow'] { background-color: #FEF8CD; }
.color-button[data-color='#87CEEB'] { background-color: #DBF3FF; }

.color-button[data-color='#F247ED'].selected { border-color: #F247ED; }
.color-button[data-color='yellow'].selected { border-color: #FDB813; }
.color-button[data-color='#87CEEB'].selected { border-color: #0093D1; }

.memo-button {
  width: 50px;
  height: 40px;
  border-radius: 20px;
  background-color: #DEDEE3;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
}

.memo-icon {
  width: 16px;
  height: 16px;
  background-color: #5C5C6E;
  position: absolute;
  top: 12px;
  left: 17px;
}

.taptap-wrapper {
  display: inline;
  position: relative;
}
